p {
  font-family: Arial, sans-serif;
  color: ghostwhite;
  }

h1 {
  font-family: "Arial", sans-serif;
  color: ghostwhite;
  text-align: center;
  font-size: 60px;
}

h2 {
  font-family: "arial", sans-serif;
  color: ghostwhite;
  text-align: left;
}

#h2central {
  font-family: "arial", sans-serif;
  color: ghostwhite;
  text-align: center; 
}

h3 {
  font-family: "arial", sans-serif;
  color: ghostwhite;
}

button {
  background-color: #0c0052; /* Couleur de fond du bouton */
  border: none; /* Retirer la bordure par défaut */
  padding: 10px 20px; /* Ajouter du padding */
  cursor: pointer; /* Changer le curseur au survol */
  color: #202020; /* Couleur du texte du bouton */
  border-radius: 10px;
  height: 50px;
}

#texte-au-fond {
  position: absolute;
  bottom: 0;
  color: ghostwhite;
}

#Texte-de-présentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  color: ghostwhite;
}

#Titre {
  width: 200px;
  height: auto;
}

#ConseilsAstuces {
  text-align: center;
  color: ghostwhite;
}

a {
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  text-decoration: none;
}

a:hover {
  color: rgb(112, 112, 255);
  font-family: Arial, sans-serif;
  text-decoration: underline;
}

#BoutonJeux {
  justify-content: center;
  align-items: center;
  display: flex;
}

#Lien {
  font-size: 30px;
  color: rgb(112, 112, 255);
  font-family: Arial, sans-serif;
}

#Lien:hover {
  font-size: 30px;
  color: rgb(146, 146, 255);
  font-family: Arial, sans-serif;
}

#Lienaufond {
  font-size: 30px;
  color: rgb(112, 112, 255);
  font-family: Arial, sans-serif;
  position: absolute;
  bottom: 0;
}

#Lienaufond:hover {
    font-size: 30px;
    color: rgb(146, 146, 255); 
    font-family: Arial, sans-serif;
    position: absolute;
    bottom: 0;  
}

#Lien2 {
  font-size: 25px;
  color: rgb(112, 112, 255);
  font-family: Arial, sans-serif;
}

#Lien2:hover {
  font-size: 25px;
  color: rgb(146, 146, 255); 
  font-family: Arial, sans-serif;
}

body {
  background-color: #202020;
  margin: 0 auto;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  background: #111111;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

@keyframes scintillement {
  0% {opacity: 1;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}

#Nouveautées {
  background: #0c0052;
  width: 35%;
  height: 100px;
  text-align: center;
  border-radius: 10px;
  animation-name: scintillement;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

#Nouveautées li {
  display: flex;
  justify-content: center;
  font-family: "arial", sans-serif;
  color: ghostwhite;
}

#Nouveautées h3 {
  text-align: center;
}

.mon-bloc {
    background-color: rgb(23, 0, 59);
    width: 100%;
    height: 90px;
}

#Logo {
  width: 60px;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
}

#Avatar {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#jeux {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#jeux img {
  margin: 10px;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

#jeux img:hover {
  transform: scale(1.1);

}

#Images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#Images img {
  margin: 10px;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

iframe {
  background-color: #202020;
}

.nav {
  display: flex;
  list-style: none;
  margin-left: 100px;
}


.nav li {
  color: white;
  font-family: "Arial", sans-serif; 
  margin-left: 30px;
  font-size: 25px;
}

