video {
  margin: 20px;
  border-radius: 10px;
  border: 2px solid rgb(0, 204, 255);
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 1.3rem #bc13fe;
}

p {
  font-family: Arial, sans-serif;
  color: ghostwhite;
  }

h1 {
  font-family: "Arial", sans-serif;
  color: ghostwhite;
  text-align: center;
  font-size: 60px;
}

h2 {
  font-family: "arial", sans-serif;
  color: ghostwhite;
  text-align: left;
}

#h2central {
  font-family: "arial", sans-serif;
  color: ghostwhite;
  text-align: center; 
}

h3 {
  font-family: "arial", sans-serif;
  color: ghostwhite;
}

button {
  background-color: rgb(2, 0, 121); /* Couleur de fond du bouton */
  border: none; /* Retirer la bordure par défaut */
  padding: 10px 20px; /* Ajouter du padding */
  cursor: pointer; /* Changer le curseur au survol */
  color: #202020; /* Couleur du texte du bouton */
  border-radius: 10px;
  height: 50px;
  border: 2px solid rgb(0, 204, 255);
}

li {
  color: ghostwhite
}

#texte-au-fond {
  position: absolute;
  bottom: 0;
  color: ghostwhite;
}

#Texte-de-présentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: ghostwhite;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#Titre {
  width: 200px;
  height: auto;
}

#ConseilsAstuces {
  text-align: center;
  color: ghostwhite;
}

a {
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  text-decoration: none;
}

a:hover {
  color:rgb(0, 204, 255);
  font-family: Arial, sans-serif;
  text-decoration: underline;
}

#BoutonJeux {
  justify-content: center;
  align-items: center;
  display: flex;
}

#BoutonJeux a {
  color: rgb(255, 255, 255);
}

#Lien {
  font-size: 30px;
  color: rgb(112, 112, 255);
  font-family: Arial, sans-serif;
}

#Lien:hover {
  font-size: 30px;
  color: rgb(146, 146, 255);
  font-family: Arial, sans-serif;
}

#Lienaufond {
  font-size: 30px;
  color: rgb(112, 112, 255);
  font-family: Arial, sans-serif;
  position: absolute;
  bottom: 0;
}

#Lienaufond:hover {
    font-size: 30px;
    color: rgb(146, 146, 255); 
    font-family: Arial, sans-serif;
    position: absolute;
    bottom: 0;  
}

#Lien2 {
  font-size: 25px;
  color: rgb(112, 112, 255);
  font-family: Arial, sans-serif;
}

#Lien2:hover {
  font-size: 25px;
  color: rgb(146, 146, 255); 
  font-family: Arial, sans-serif;
}

body {
  background-color: rgb(9, 0, 67);
  margin: 0 auto;
}

#page-background {
  background: url('pictures/Capture\ d\'écran\ 2024-06-05\ 132537.png') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh; /* Ensure the container takes full viewport height */
  position: relative; /* So child elements can be positioned absolutely if needed */
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  background: #111111;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

@keyframes scintillement {
  0% {opacity: 1;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}

#Nouveautées {
  background: rgb(2, 0, 121);
  width: 30%;
  height: 135px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(0, 204, 255);
  animation-name: scintillement;
  animation-duration: 2s;
  animation-iteration-count: 1;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 1.3rem #bc13fe;
}

#Nouveautées li {
  display: flex;
  justify-content: center;
  font-family: "arial", sans-serif;
  color: ghostwhite;
}

#Nouveautées h3 {
  text-align: center;
}

.mon-bloc {
    background-color: rgb(23, 0, 59);
    width: 100%;
    height: 90px;
}

#sites {
  display: flex;
  gap: 40px; /* Espace entre les deux divisions */
  flex-wrap: wrap;
  justify-content: center;
}

#sites a:hover{
  color: ghostwhite;
}

#sites_ia{
  width: 30%;
  height: 210px;
  border-radius: 10px;
  border: 2px solid rgb(0, 204, 255);
  background: rgb(0, 58, 145);
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 1.3rem #bc13fe;
}

#sites_ennui{
  width: 30%;
  height: 150px;
  border-radius: 10px;
  border: 2px solid rgb(255, 187, 0);
  background: rgb(173, 0, 0);
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem rgb(255, 0, 0),
  0 0 0.8rem rgb(255, 0, 0),
  0 0 2.8rem rgb(255, 0, 0),
  inset 0 0 1.3rem rgb(255, 0, 0);
}
#sites_autre{
  width: 30%;
  height: 150px;
  border-radius: 10px;
  border: 2px solid rgb(0, 255, 115);
  background: rgb(0, 151, 45);
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem rgb(0, 255, 115),
  0 0 0.8rem rgb(0, 255, 115),
  0 0 2.8rem rgb(0, 255, 115),
  inset 0 0 1.3rem rgb(0, 255, 115);
}
#sites_3D{
  width: 30%;
  height: 150px;
  border-radius: 10px;
  border: 2px solid rgb(255, 0, 212);
  background: rgb(173, 0, 144);
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem rgb(255, 0, 212),
  0 0 0.8rem rgb(255, 0, 212),
  0 0 2.8rem rgb(255, 0, 212),
  inset 0 0 1.3rem rgb(255, 0, 212);
}

#sites h3{
  text-decoration: underline;
  text-align: center;
}

#Logo {
  width: 60px;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
}

#Avatar {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

#jeux {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#jeux img {
  margin: 20px;
  transition: transform 0.3s ease;
  border-radius: 10px;
  border: 2px solid rgb(0, 204, 255);
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 1.3rem #bc13fe;
}

#jeux img:hover {
  transform: scale(1.1);

}

#Images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#Images img {
  margin: 20px;
  border-radius: 10px;
  border: 2px solid rgb(0, 204, 255);
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 1.3rem #bc13fe;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

iframe {
  background-color: #202020;
}

.nav {
  display: flex;
  list-style: none;
  margin-left: 100px;
}


.nav li {
  color: white;
  font-family: "Arial", sans-serif; 
  margin-left: 30px;
  font-size: 25px;
}

/* Changer la barre de défilement */

/* Style pour les navigateurs basés sur WebKit */
::-webkit-scrollbar {
  width: 12px; /* Largeur de la barre de défilement */
}

::-webkit-scrollbar-track {
  background: #f1f1f100; /* Couleur de la piste */
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 96, 121); /* Couleur de la barre de défilement */
  border-radius: 10px; /* Arrondir les bords */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 204, 255); /* Couleur de la barre de défilement au survol */
}
